.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 {
  text-align: center;
}

.blue {
  color: blue;
}
